Source: python-yaql
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-pbr,
               python-setuptools,
               python-sphinx,
               python3-all,
               python3-pbr,
               python3-setuptools,
Build-Depends-Indep: python-babel,
                     python-coverage,
                     python-fixtures,
                     python-hacking,
                     python-oslosphinx (>= 2.5.0),
                     python-ply,
                     python-testscenarios,
                     python-testtools,
                     python3-babel,
                     python3-fixtures,
                     python3-ply,
                     python3-testscenarios,
                     python3-testtools,
                     subunit,
                     testrepository,
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-yaql.git
Vcs-Git: git://anonscm.debian.org/openstack/python-yaql.git
Homepage: https://github.com/stackforge/yaql

Package: python-yaql
Architecture: all
Depends: python-babel,
         python-ply,
         ${misc:Depends},
         ${python:Depends},
Description: Yet Another Query Language - Python 2.x
 At the beginning of millennium the growing trend towards data formats
 standardization and application integrability made XML extremely popular. XML
 became lingua franca of the data. Applications tended to process lots of XML
 files ranging from small config files to very large datasets. As these data
 often had a complex structure with many levels of nestedness it is quickly
 became obvious that there is a need for specially crafted domain specific
 languages to query these data sets. This is how XPath and later XQL were born.
 .
 With later popularization of REST services and Web 2.0 JSON started to take
 XML’s place. JSON’s main advantage (besides being simpler than XML) is that is
 closely reassembles data structures found in most programming languages
 (arrays, dictionaries, scalars) making it very convenient for data
 serialization. As JSON lacked all the brilliant XML-related technologies like
 XSLT, XML Schema, XPath etc. various attempts to develop similar languages for
 JSON were made. One of those efforts was JSONPath library developed in 2007 by
 Stefan Gössner. Initial implementation was for PHP and JavaScript languages,
 but later on ports to other languages including Python were written. YAQL is
 one of the implementations in Python.
 .
 This package contains the Python 2.x module.

Package: python3-yaql
Architecture: all
Depends: python3-babel,
         python3-ply,
         ${misc:Depends},
         ${python3:Depends},
Description: Yet Another Query Language - Python 3.x
 At the beginning of millennium the growing trend towards data formats
 standardization and application integrability made XML extremely popular. XML
 became lingua franca of the data. Applications tended to process lots of XML
 files ranging from small config files to very large datasets. As these data
 often had a complex structure with many levels of nestedness it is quickly
 became obvious that there is a need for specially crafted domain specific
 languages to query these data sets. This is how XPath and later XQL were born.
 .
 With later popularization of REST services and Web 2.0 JSON started to take
 XML’s place. JSON’s main advantage (besides being simpler than XML) is that is
 closely reassembles data structures found in most programming languages
 (arrays, dictionaries, scalars) making it very convenient for data
 serialization. As JSON lacked all the brilliant XML-related technologies like
 XSLT, XML Schema, XPath etc. various attempts to develop similar languages for
 JSON were made. One of those efforts was JSONPath library developed in 2007 by
 Stefan Gössner. Initial implementation was for PHP and JavaScript languages,
 but later on ports to other languages including Python were written. YAQL is
 one of the implementations in Python.
 .
 This package contains the Python 3.x module.
